@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: xx-large;
    font-weight: 900;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}